body {
    margin: 0px;
    padding: 0px;
}

.wrap {

    width: 100%;
    min-height: 100vh;


    display: flex;
    flex-direction: column;


}

.conteiner {

    margin: 0 auto;
    width: 80%;
    min-height: 100px;



}

.header {
    height: 100px;
    background-color: #a4acb7;
}

.main {
    background-color: #e9f2fe;
    flex-grow: 1;

    padding: 20px 10px;

}



.footer {
    height: 150px;
    background-color: #a4acb7;
}



.wrap-data-display {

    display: flex;
    column-gap: 30px;
    justify-content: center;


    /*    border: 1px solid red;*/
}

.obj-start-data {

    /*    border: 1px solid blue;*/

}

.obj-current-data {

    display: flex;
    align-items: center;


    /*    border: 1px solid blue;*/

}